<p>Registrar Una Mascota</p>
<br>

<div id="formulario">
    <form>
        <label for="nombre">Nombre</label>
        <br>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="formularioMascota.nombre">
        <br>

        <label for="edad">Edad</label>
        <br>
        <input type="number" id="edad" name="edad" [(ngModel)]="formularioMascota.edad">
        <br>

        <label for="genero">Genero</label>
        <br>
        <input type="text" id="genero" name="genero" [(ngModel)]="formularioMascota.genero">
        <br>

        <label for="raza">Raza</label>
        <br>
        <input type="text" id="raza" name="raza" [(ngModel)]="formularioMascota.raza">
        <br>

        <label for="condicion">Condicion medica</label>
        <br>
        <input type="text" id="condicion" name="condicion" [(ngModel)]="formularioMascota.condicion">
        <br>

        <label for="descripcion">Descripcion</label>
        <br>
        <textarea name="descripcion" rows="4" cols="50" [(ngModel)]="formularioMascota.descripcion"></textarea>
    </form>

    <button (click)="agregarMascota()" >Registrar</button>
</div>
