<main>
    <div class="container mt-5">
        <div class="card shadow-lg custom-card">
            <div class="row g-0">
               
                <div class="col-md-8">
                    <div class="card-header custom-header">
                        <ng-container *ngIf="veterinario">
                            <h3>{{veterinario.nombre}}</h3>
                        </ng-container>
                    </div>
                    <div class="card-body custom-body">
                        <ng-container *ngIf="veterinario">
                            <p class="card-text">Especialidad: <span>{{veterinario.especialidad}}</span> años</p>
                            <p class="card-text">Correo: <span>{{veterinario.correo}}</span></p>
                            <p class="card-text">Cedula: <span>{{veterinario.cedula}}</span></p>
                            <p class="card-text">Celular: <span>{{veterinario.celular}}</span></p>
                            <p class="card-text">NumAtenciones <span>{{veterinario.numAtenciones}}</span></p>
                         


                            
                            <br>
                            
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



