<p>Mascotas Registradas</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad(Años)</th>
            <th scope="col">Raza</th>
            <th scope="col">Genero</th>
            <th scope="col">Condicion Medica</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pet of listaMascotas">
            <td>{{pet.nombre}}</td>
            <td>{{ pet.edad }}</td>
            <td>{{ pet.raza }}</td>
            <td>{{ pet.genero }}</td>
            <td>{{ pet.condicion }}</td>
            <td>
                <button (click)="mostrarMascota(pet)">Mas Informacion</button>
                <button>Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<app-informacion-mascota [mascota]="mascotaSelec"></app-informacion-mascota>

<app-formulario-mascota (agregarMascotaEvent)="agregarMascota($event)" ></app-formulario-mascota>
