<p class="h4 text-center my-4">Mascotas Registradas</p>
<div class="container mt-3">
 
  <form #form="ngForm" (ngSubmit)="buscarMascota()" class="form-inline justify-content-center">
    <label for="nombre" class="mr-2">Nombre de la Mascota</label>
    <input type="text" class="form-control mr-2" name="nombre" [(ngModel)]="nombreBusqueda">
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
</div>
<div class="container">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th class="center"scope="col">Nombre</th>
        <th class="center"scope="col">Edad</th>
        <th class="center"scope="col">Raza</th>
        <th class="center"scope="col">Género</th>
        <th class="center"scope="col">Condición Médica</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of listaMascotas">
        <td class="center">{{ pet.nombre }}</td>
        <td class="center">{{ pet.edad | edad }}</td>
        <td class="center">{{ pet.raza }}</td>
        <td class="center">{{ pet.genero }}</td>
        <td class="center">{{ pet.condicion }}</td>
        <td>
          <a [routerLink]="['/Mascotas/informacion', pet.id]" [queryParams]="{userType: userType, correo: correo }" class="btn btn-info btn-sm me-2">Más Información</a>
          <a *ngIf="userType === 'veterinario'" [routerLink]="['/Mascotas/actualizar', pet.id]" [queryParams]="{userType: userType, correo: correo }" class="btn btn-warning btn-sm me-2">Actualizar</a>
          <button *ngIf="userType === 'veterinario'" (click)="eliminarMascota(pet)" class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container text-center mb-4">
  <a *ngIf="userType === 'veterinario'" [routerLink]="['/Mascotas/agregar']" class="btn btn-success btn-lg animate-btn">Registrar Nueva Mascota</a>
</div>
 