<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="header">
  <div class="page-header">
    <input type="checkbox" id="click">

    <label for="click" class="mainicon">
      <div class="menu">
        <i class='bx bx-menu'></i>
      </div>
    </label>
    <ul>
      <li><a (click)="navigateToMainMenu()" class="active" style="--navAni:1">Menu Principal</a></li>

        <li *ngIf="userType === 'veterinario'"><a routerLink="/cliente/all" id="btnlistaClientes" [queryParams]="{userType: userType, correo: correo }" style="--navAni:2">Lista de Clientes</a></li>
        <li *ngIf="userType === 'veterinario'"><a routerLink="/Mascotas/agregar" id="btnAgregarMascota" [queryParams]="{userType: userType, correo: correo }" style="--navAni:3">Añadir Mascota</a></li>
        <li *ngIf="userType === 'veterinario'"><a routerLink="/Mascotas/all" [queryParams]="{userType: userType, correo: correo}" style="--navAni:2">Lista de Mascotas</a></li>

      <li *ngIf="userType === 'cliente'"><a routerLink="/Mascotas/mis_mascotas" id="btnVerMisMascotas" [queryParams]="{ id: cliente?.clienteId, userType: userType, correo: cliente?.correo}" style="--navAni:2">Mis Mascotas</a></li>


      <li><a (click)="onLogout()" id="btnCerrarSesion" style="--navAni:5">Cerrar Sesion</a></li>
    </ul>
    <label class="mode">
      <input type="checkbox" id="darkModeToggle">
      <i class='bx bxs-moon'></i>
    </label>
  </div>
</div>
<script>
  const darkModeToggle = document.getElementById('darkModeToggle');
  const body = document.body;
  const isDarkMode = localStorage.getItem('darkMode') === 'enabled';
  if (isDarkMode) {
    body.classList.add('dark-mode');
    darkModeToggle.checked = true;
  }
  darkModeToggle.addEventListener('change', () => {
    if (darkModeToggle.checked) {
      body.classList.add('dark-mode');
      localStorage.setItem('darkMode', 'enabled');
    } else {
      body.classList.remove('dark-mode');
      localStorage.setItem('darkMode', 'disabled');
    }
  });
</script>
