<main>
    <div class="container mt-5">
        <div class="card shadow-lg custom-card">
            <div class="row g-0">
                <div class="col-md-4">
                    <ng-container *ngIf="mascota">
                        <img [src]="mascota.url" alt="Pet Image" id={{mascota.url}} class="card-img-top rounded-start custom-img">
                    </ng-container>
                    <ng-container *ngIf="!mascota">
                        <p class="text-center p-3 custom-text">Seleccione una mascota para obtener más información</p>
                    </ng-container>
                </div>
                <div class="col-md-8">
                    <div class="card-header custom-header">
                        <ng-container *ngIf="mascota">
                            <h3 id="nombreMascotaInfo">{{mascota.nombre}}</h3>
                        </ng-container>
                    </div>
                    <div class="card-body custom-body">
                        <ng-container *ngIf="mascota">
                            <p class="card-text">Edad: <span>{{mascota.edad}}</span> años</p>
                            <p class="card-text">Raza: <span>{{mascota.raza}}</span></p>
                            <p class="card-text">Condición médica: <span>{{mascota.condicion}}</span></p>
                            <br>
                            <p class="card-text">Descripción:</p>
                            <p class="card-text"><span>{{mascota.descripcion}}</span></p>
                            <br>
                            <div>
                                <ng-container *ngIf='mascota.enTratamiento'>
                                    <p class="center, bold">Estado: En Tratamiento</p>

                                    <ng-container *ngIf="userType === 'veterinario'">
                                        <button class="btn btn-success btn-lg animate-btn" (click)="administrarTratamiento(mascota)">Administar Tratamiento</button>
                                    <a [routerLink]="['/Mascotas/tratamiento/modificar', mascota.id]" [queryParams]="{userType: userType, correo: correo }" class="btn btn-info animate-btn">Modificar Tratamiento</a>
                                    </ng-container>

                                </ng-container>

                                <ng-container *ngIf='!mascota.enTratamiento'>
                                    <p class="center, bold">Estado: No En Tratamiento</p>

                                    <ng-container *ngIf="userType === 'veterinario'">
                                       <a [routerLink]="['/Mascotas/tratamiento/modificar', mascota.id]" [queryParams]="{userType: userType, correo: correo }" class="btn btn-info animate-btn">Generar Tratamiento</a>
                                    </ng-container>
                                   </ng-container>
                            </div>
                        </ng-container>
                    </div>

                    <div>
                        <p class="bold">Historial Medico</p>
                        <ol>
                            <li *ngFor="let tratamiento of historial">Fecha: {{tratamiento.fecha | date}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
