p{
    font-size: 20px;
}

li{
    font-size: 20px;
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
}

#container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    padding: 5px;

    border: solid black 1px;
    background-color: #d7a68f;
}

/*Personalizacion de la tarjeta*/
.custom-card {
    background-color: var(--color-fondo); /* Color de fondo de la tarjeta */
    border-color: #dee2e6; /* Color del borde de la tarjeta */
}

.custom-img {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: 360px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
    border-color: #343a40; /* Color del borde de la imagen */
}

.custom-text {
    color: #6c757d; /* Color del texto */
}

.custom-header {
    background-color: var(--color-terciario); /* Color de fondo del encabezado */
    color: #ffffff; /* Color del texto del encabezado */
}

.custom-body {
    background-color: var(--color-fondo); /* Color de fondo del cuerpo */
    color: #212529; /* Color del texto del cuerpo */
}

.mt-5 {
    margin-top: 10.4rem !important;
  margin-bottom: 11rem !important;
}

.btn-info {
    background-color: #E3CAA5;
    border-color: #E3CAA5;
  }
  
  .btn-danger {
    background-color: #754b36;
    border-color: #754b36;
  }
  .btn-warning {
    background-color: #d7a68f;
    border-color: #d7a68f;
    color: #000;
  }
  
  button {
    font-size: 20px;
  }

  .animate-btn {
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .btn-lg {
    background-color: #754b36;
    border-color: #754b36;
    margin: 2.4rem;
  }

  .animate-btn:hover {
    transform: scale(1.1);
  }
