h1{
    color: #E3CAA5;
}
 /* HEADER */

   #header h2 {
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    color: #f9f0e3;
    font-size: 70px;
  }
  #header{
    background-color: #CEAB93;
  }

  #header h1{
    display: flex;
    flex-direction: column;

    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    color: #fbf2e4;
    font-size: 80px;

    padding-right: 10px;
}

h3{
    font-family: "Rozha One", serif;
    font-weight: bold;
    font-style: normal;
    margin: 10px;
}
.navbar{
    background-color: var(--color-principal);
   z-index: 3;
    top: 0;
    width: 100%;
  padding: .5rem 1rem;
}

.navbar a{
    font-size: 24px;
  }

  .navbar-brand {
      color: #fff;
      font-size: 1.5rem;
  }

  .nav-link {
      color: #fff !important;
  }

  .navbar a:hover{
    font-size: 25px;
  }

