/* You can add global styles to this file, and also import other style files */

:root {
    --color-principal: #754b36;
    --color-secundario: #d7a68f;
    --color-terciario: #E3CAA5;
    --color-fondo: #fbf2e4;
      --color-texto: #000;
  }


/*Footer*/
#footer {

    background-color: var(--color-principal);
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Empuja el footer al fondo */
  }
  
  .footer-info img{
    margin-left: 20px;
    width: 30px;
    height: 30px;
  
  }
  
  footer p {
    color: black;
    margin-left: 20px;
  }
  
  #logo_footer {
    /* Style the logo separately */
    margin-right: 15px;
    width: 75px;
    height: 75px;
  }


   /* HEADER */

   #header h2 {
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    color: #f9f0e3;
    font-size: 70px;
  }
  #header{
    background-color: #CEAB93;
  }

  #header h1{
    display: flex;
    flex-direction: column;

    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    color: #fbf2e4;
    font-size: 80px;
    
    padding-right: 10px;
}
  
h3{
    font-family: "Rozha One", serif;
    font-weight: bold;
    font-style: normal;
    margin: 10px;
}
.navbar{
    background-color: var(--color-principal);

    position: fixed;
    z-index: 2;

    top: 0;
    width: 100%;
}

.navbar a{
    font-size: 20px;
  }
  
  .navbar-brand {
      color: #fff;
      font-size: 1.5rem;
  }
  
  .nav-link {
      color: #fff !important;
  }
  
  .navbar a:hover{
    font-size: 25px;
    text-decoration: underline;
  }

  main {
    flex: 1;
    margin-top: 200px; /* Ajusta según el espacio necesario */
    margin-bottom: 0; /* Se gestiona con el margen automático del footer */
}
body {
    flex: 1;
    font-family: Arial, sans-serif;
    background-color: var(--color-terciario);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 120px;
    height: 100%;
}

h1, h2{
    margin-top: 0px;
    font-family: "Rozha One", serif;
    font-size: 80px;
    color: #754b36;
}

p{
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-size: 50px;

    margin-bottom: 0px;
}
  