<div class="col-md-6">
    <img src="assets/images/Logo.png" alt="Veterinaria Haven" class="img-fluid ">
</div>

<section id="QuienesSomos" class="text-center my-5 contenedor_cafe">
    <h2>Quienes Somos</h2>
    
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="justify_content">
                    En la Veterinaria Haven, nos dedicamos a brindar el mejor cuidado y atención a tus mascotas. Con más de 20 años de experiencia, nuestro equipo de veterinarios altamente capacitados y apasionados por los animales está comprometido con la salud y el bienestar de tus amigos de cuatro patas. Nos enorgullece ofrecer una amplia gama de servicios que incluyen consultas, vacunaciones, cirugías, hospitalización y emergencias.
                    <br><br>
                    Nuestros veterinarios están constantemente actualizándose con las últimas técnicas y tratamientos para asegurar que tus mascotas reciban la atención más avanzada y eficaz posible. Además, contamos con instalaciones modernas y equipadas con tecnología de punta para diagnósticos precisos y tratamientos efectivos.
                </p>
            </div>
        </div>
</section>

<section id="services" class="text-center my-5">
    <div class="container">
        <h2>Nuestros Servicios</h2>
        
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <h3>Consultas</h3>
                    <p>Consulta médica para tu mascota con nuestros veterinarios especializados.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <h3>Hospitalización</h3>
                    <p>Hospitalización completa para el tratamiento y cuidado de tu mascota.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <h3>Registro de Mascotas</h3>
                    <p>Registro detallado de cada mascota con información médica y personal.</p>
                </div>
            </div>
        </div>
    </div>
</section>
