<!--
  Componente de pie de página para la sección de administración del sitio web.
  Este componente incluye un pie de página con un fondo claro y algo de margen en la parte superior.
  Contiene un contenedor que tiene dos secciones:
  1. Un aviso de derechos de autor.
  2. Enlaces a la Política de Privacidad y Términos y Condiciones.
-->

<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
      <!-- Aviso de derechos de autor -->
      <div class="text-muted">Copyright &copy; Your Website 2023</div>
      <div>
        <!-- Enlaces a la Política de Privacidad y Términos y Condiciones -->
        <a href="#">Privacy Policy</a>
        &middot;
        <a href="#">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>
</footer>
