<!--
  This script includes the Bootstrap JavaScript bundle for enabling Bootstrap components.
  The crossorigin attribute is used to handle CORS requests.
-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<!--
  This script includes the Chart.js library for creating charts.
  The crossorigin attribute is used to handle CORS requests.
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

<!--
  This script includes the Simple-DataTables library for creating data tables.
  The crossorigin attribute is used to handle CORS requests.
-->
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>

<!-- Sidebar navigation layout -->
<app-sidebar></app-sidebar>

<!-- Main content layout -->
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-5">
      <!-- Dashboard heading -->
      <h1 class="mt-4">Dashboard</h1>
      <!-- Breadcrumb navigation -->
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
      <div class="row">
        <!-- Primary card example -->
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4">
            <div class="card-body">Tratamientos en el ultimo mes: <span id="total">{{ kpis?.totalTratamientos }}</span> </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#">View Details</a>
              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
          </div>
        </div>
        <!-- Warning card example -->
        <div class="col-xl-3 col-md-6">
          <div class="card bg-warning text-white mb-4">
            <div class="card-body">Ventas Totales: {{ kpis?.ventasTotales | currency }} </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#">View Details</a>
              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
          </div>
        </div>
        <!-- Success card example -->
        <div class="col-xl-3 col-md-6">
          <div class="card bg-success text-white mb-4">
            <div class="card-body">Ganancias Totales: <span id="total2">{{ kpis?.gananciasTotales | currency }} </span></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#">View Details</a>
              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
          </div>
        </div>
        <!-- Danger card example -->
        <div class="col-xl-3 col-md-6">
          <div class="card bg-danger text-white mb-4">
            <div class="card-body">Total Mascotas: {{ kpis?.totalMascotas }} </div>
            <div class="card-body">Mascotas Activas: {{ kpis?.mascotasActivas }}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#">View Details</a>
              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Pie chart -->
        <div class="col-xl-6">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-chart-pie me-1"></i>
              Cantidad de veterinarios activos/inactivos
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="194"></canvas></div>
          </div>
        </div>
        <!-- Bar char -->
        <div class="col-xl-6">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-chart-bar me-1"></i>
              Top 3 drogas mas vendidas
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Tabla Drogas
        </div>
        <div class="card-body">
          <!-- DataTable -->
          <table id="datatablesSimple">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad administrada </th>

            </tr>
            </thead>
            <tbody>
            <!-- Se agrega dinamicamente desde ts -->
            </tbody>
            <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Cantidad administrada </th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer component -->
  <app-admin-footer></app-admin-footer>
</div>
